extends ../layout.pug

block title 
    | sign-in 

block page_title
    h1 Sign-in 

block content 
    form(action="/auth/sign-in" method="post")
        p
            input(type="text" name="userName" placeholder="ID") 
        
        p
            input(type="password" name="password" placeholder="password")

        p 
            input(type="submit" value="submit")