extends layout.pug 

block title 
    | Home 

block page_title 
    | Welcome to Users' Community

block content
    if user 
        p Click Users button and Check all Users 

    else
        p Please, Sign-in our community and enjoy community.
        p If you don't have account, please sign-up first.