doctype html 
html(lang="ko")
    head
        title
            block title 

        meta(charset="utf-8")  
        meta(name="viewport", content="width=device-width, initial-scale=1")

    body 
        p
            block page_title 

        p
            block content
