doctype html 
html(lang="ko")
    head
        title
            block title 

        meta(charset="utf-8")  
        meta(name="viewport", content="width=device-width, initial-scale=1")

    body 
        .header
            nav
                a(href="/") Home 

                ul 
                    li 
                        a(href="/auth/sign-up") Sign-up 
                    li
                        a(href="/auth/sign-in") Sign-in 
            
        p
            block page_title 

        p
            block content
