doctype html 
html(lang="ko")
    head
        title
            block title 

        meta(charset="utf-8")  
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/styles/style.css")
    body 
        .container
            .header
                nav
                    a.logo(href="/") Home 

                    if user
                        ul 
                            li
                                a(href="/user") Users 
                            li 
                                a(href="/auth/sign-out") Sign-out
                    else 
                        ul 
                            li 
                                a(href="/auth/sign-up") Sign-up 
                            li
                                a(href="/auth/sign-in") Sign-in 
            .contents
                p.content.page_title
                    block page_title 

                p.content
                    block content

            .footer
                p Korea University
                p KWEB
